/* esercizio 1 */
.ex-1-square:hover {
    transition: background-color 2s;
    background-color: red;
}
/* fine esercizio 1 */
/* esercizio 2 */
.ex-2-square:active {
    transition: 3s;
    width: 100%;
}
/* fine esercizio 2 */
/* esercizio 3 */
.ex-3-square:hover {
    transition: 1s;
    border-radius: 50%;
}
/* fine esercizio 3 */
/* esercizio 4 */
.ex-4-square:hover {
    transition: 2s;
    background-color: transparent;
}
/* fine esercizio 4 */
/* esercizio 5 */
.ex-5-square {
    transition: 2s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.7);
}
/* fine esercizio 5 */
/* esercizio 6 */
.ex-6-img:hover {
    filter: grayscale(1);
}
/* fine esercizio 6 */
/* esercizio 7 */
.ex-7-img:hover {
    transition: 2s;
    filter: grayscale(1);
    filter: sepia(0.7);
}
/* fine esercizio 7 */
/* esercizio 8 */
.ex-8-img:hover {
    transition: 2s;
    filter: grayscale(0.8);
    filter: sepia(0.8);
    border-radius: 20px;
}
/* fine esercizio 8 */
/* esercizio 9 */
.ex-9-img:hover {
    transition: 2s;
    border-radius: 20px;
    filter: grayscale(0.8);
    filter: sepia(0.8);
    transform: scale(1.5);
}
/* fine esercizio 9 */
/* esercizio 10 */
.ex-10-icon {
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(1turn);
    }
}
/* fine esercizio 10 */
/* esercizio 11 */
.ex-11-icon:hover {
    animation: spin 2s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(300deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
/* fine esercizio 11 */
/* esercizio 12 */
.ex-12-button:hover .ex-12-top-white {
    animation: moveTop 2s linear;
}

@keyframes moveTop {
    0% {
        left: 10%;
    }
    50% {
        left: calc(100% - 70px);
    }
    100% {
    }
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: moveBottom 2s linear;
}

@keyframes moveBottom {
    0% {
        right: 20%;
    }
    50% {
        right: calc(100% - 70px);
    }
    100% {
        
    }
}
/* fine esercizio 12 */
/* esercizio 13 */
.ex-13-button:hover .ex-13-top-white {
    animation: moveTotalTop 3s linear;
}

@keyframes moveTotalTop {
    0% {}
    25% {
        left: calc(100% - 20px);
        top: -10px;
    }
    40% {
        left: calc(100% - 20px);
        top: calc(100%);
    }
    65% {
        left: -10px;
        top: 100%;
    }
    85% {
        left: -10px;
        top: -10px;
    }
    100% {}
}

.ex-13-button:hover .ex-13-bottom-white {
    animation: moveTotalBottom 3s linear;
}

@keyframes moveTotalBottom {
    0% {}
    25% {
        right: calc(100% - 20px);
        bottom: -10px;
    }
    40% {
        right: calc(100% - 20px);
        bottom: calc(100%);
    }
    65% {
        right: -10px;
        bottom: 100%;
    }
    85% {
        right: -10px;
        bottom: -10px;
    }
    100% {}
}
/* fine esercizio 13 */